.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  color: black;
}

.middleR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  display: block;
  width: 90%;
}

.quizImg {
  padding: 10px;
}
