.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e0e0e0;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
